<div class="formContainer">
    <form [formGroup]="loginService.loginForm" (submit)="onSubmit(loginService.loginForm.value)">
        <mat-form-field color="warn" class="input-field">
            <input formControlName="user" matInput placeholder="User">            
        </mat-form-field>   
        <mat-form-field color="warn" class="input-field">
            <input matInput formControlName="password" type="password" placeholder="Password">            
        </mat-form-field>             
        <div>
            <mat-label *ngIf="messageLogin">{{messageLogin}}</mat-label>
        </div>
        <div class="form-group">
            <button mat-raised-button color="warn" type="submit">Login</button>
        </div>                      
    </form>   
</div>
