<!--<div *ngIf="data">-->
<!--  <mat-card class="user-card">-->
<!--&lt;!&ndash;    <mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card-title>{{data.name}}</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash; <mat-card-subtitle>{{user.role}}</mat-card-subtitle> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card-header>&ndash;&gt;-->
<!--    <mat-card-content>-->
<!--      <table width="100%">-->
<!--        <tr>-->
<!--&lt;!&ndash;          <td width="25%">&ndash;&gt;-->
<!--&lt;!&ndash;            <img mat-card-image src="{{data.picture}}" alt="{{data.name}}" title="{{data.name}}" width="200px" height="266px">&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--          <td width="75%">-->
<!--            <table width="100%">-->
<!--              <tr>-->
<!--                <td width="25%">-->
<!--                  <mat-label>Delivery Unit:</mat-label>-->
<!--                </td>-->
<!--                <td width="75%">-->
<!--                  <mat-label>{{data.deliveryUnit}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->

<!--              <tr>-->
<!--                <td>-->
<!--                  <mat-label>Role:</mat-label>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <mat-label>{{data.role}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->

<!--              <tr>-->
<!--                <td>-->
<!--                  <mat-label>Relation:</mat-label>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <mat-label>{{data.relationType === 1 ? "Employee" : (data.relationType === 2 ? "Candidate" : (data.relationType === 3 ? "External" : " "))}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->

<!--              <tr>-->
<!--                <td>-->
<!--                  <mat-label>Bench:</mat-label>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <mat-label>{{data.inBench ? "&#10004;" : " "}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->

<!--              <tr>-->
<!--                <td>-->
<!--                  <mat-label>Doc. Type:</mat-label>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <mat-label>{{data.docType === 1 ? "National Identity" : (data.docType === 2 ? "Passport" : " ")}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->

<!--              <tr>-->
<!--                <td>-->
<!--                  <mat-label>Doc. Number:</mat-label>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <mat-label>{{data.docNumber}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->

<!--              <tr>-->
<!--                <td>-->
<!--                  <mat-label>Employee Number:</mat-label>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <mat-label>{{data.employeeNumber}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->

<!--&lt;!&ndash;              <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-label>Skills Expertises:</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-label>{{match.skillExpertisesSummary}}</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;              </tr>      &ndash;&gt;-->

<!--              <tr>-->
<!--                <td>-->
<!--                  <mat-label>Ranking:</mat-label>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <mat-label>{{data.ranking | percent:'1.1-1'}}</mat-label>-->
<!--                </td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </td>-->
<!--        </tr>-->
<!--     </table>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->

<mat-grid-list cols="2">
	<mat-grid-tile class="photo_card" >
		<mat-card class="mat-elevation-z0">
			<mat-card-header>
				<!-- <div mat-card-avatar class="example-header-image"></div>-->
				<mat-card-title>{{data.name}}</mat-card-title>
				<mat-card-subtitle>{{data.role}}</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="{{data.picture}}" alt="{{data.name}}">
				<mat-card-content>
					<p>
						<!--          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
						<!--          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
						<!--          bred for hunting.-->
					</p>
				</mat-card-content>
				<!--<mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>-->
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile class="user-card">
			<div *ngIf="data">
				<mat-card class="mat-elevation-z0">
					<mat-card-content>
						<table class="user_details">
							<tr>
								<td width="50%">
									<mat-label>
										<b>Delivery Unit:</b>
									</mat-label>
								</td>
								<td width="50%">
									<mat-label>{{data.deliveryUnit}}</mat-label>
								</td>
							</tr>

							<tr>
								<td>
									<mat-label>
										<b>Role:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.role}}</mat-label>
								</td>
							</tr>

							<tr>
								<td>
									<mat-label>
										<b>Relation:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.relationType === 1 ? "Employee" : (data.relationType === 2 ? "Candidate" : (data.relationType === 3 ? "External" : " "))}}</mat-label>
								</td>
							</tr>

							<tr>
								<td>
									<mat-label>
										<b>Grade:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.gradeDescription}}</mat-label>
								</td>
							</tr>

							<tr>
								<td>
									<mat-label>
										<b>Project:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.currentProjectDescription}}</mat-label>
								</td>
							</tr>

							<tr>
								<td>
									<mat-label>
										<b>Project since:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.currentProjectDuration}}</mat-label>
								</td>
							</tr>

							<tr>
								<td>
									<mat-label>
										<b>Doc. Type:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.docType === 1 ? "National Identity" : (data.docType === 2 ? "Passport" : " ")}}</mat-label>
								</td>
							</tr>

							<tr>
								<td>
									<mat-label>
										<b>Doc. Number:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.docNumber}}</mat-label>
								</td>
							</tr>

							<!--                        <tr>-->
							<!--                            <td>-->
							<!--                                <mat-label><b>Employee Number:</b></mat-label>-->
							<!--                            </td>-->
							<!--                            <td>-->
							<!--                                <mat-label>{{data.employeeNumber}}</mat-label>-->
							<!--                            </td>-->
							<!--                        </tr>-->
							<!--                        <tr>-->
							<!--                            <td>-->
							<!--                                <mat-label><b>Skills Expertises:</b></mat-label>-->
							<!--                            </td>-->
							<!--                            <td>-->
							<!--                                <mat-label>{{data.skillExpertisesSummary}}</mat-label>-->
							<!--                            </td>-->
							<!--                        </tr>-->
							<tr>
								<td>
									<mat-label>
										<b>Ranking:</b>
									</mat-label>
								</td>
								<td>
									<mat-label>{{data.ranking | percent:'1.1-1'}}</mat-label>
								</td>
							</tr>
						</table>
					</mat-card-content>
				</mat-card>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
	