table {
  width: 100%;
}

.container {
  padding: 30px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.filter-container{
  width: 40%;   
}

.button-container{
  text-align: right;
  margin-right: 65px;
  margin-top: 25px;
}

.button-background{
  background-color: #3f51b5;
}
