<!--The content below is only a placeholder and can be replaced.-->
<!-- <h1>Main Page</h1> -->
<div class="skills-container">
    <app-skills></app-skills>
</div>

<div class="get-matches">
    <button mat-button (click)="processData()">
        <mat-icon>cached</mat-icon>
        Get matches
    </button>
</div>

<div class="spinner-container">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="matches-container" *ngIf="showContent">
  <app-matches></app-matches>
</div>

<router-outlet></router-outlet>
