<div class="get-matches" *ngIf="display">
    <button mat-button color="warn" (click)="processData()">
        <mat-icon>find_in_page</mat-icon>
        Get matches
    </button>
</div>

<div class="spinner-container" [class.hide]="!loading">
    <mat-spinner *ngIf="loading" color="warn"></mat-spinner>
</div>

<div class="matches-result mat-elevation-z8" *ngIf="showContent">
    <table class="matches_container" mat-table [dataSource]="dataSource">

        <!-- Candidate Name Column -->
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
            <td mat-cell *matCellDef="let element" [class.selected]="element === selectedMatch"
                (click)="openDialog(element)"> {{element.candidate.name}}</td>
        </ng-container>

        <!-- Picture Column -->
        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef> <b>Picture</b> </th>
            <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> <img src="{{element.candidate.picture}}" alt="{{element.candidate.name}}" width="50px" height="62px"> </td>
        </ng-container>

        <!-- Delivery Unit Column -->
        <ng-container matColumnDef="deliveryUnit">
            <th mat-header-cell *matHeaderCellDef> <b>Delivery Unit</b> </th>
            <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.candidate.deliveryUnit.name}}</td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> <b>Role</b> </th>
            <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.candidate.candidateRole.name}}</td>
        </ng-container>

        <!-- In Grade Column -->
        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef> <b>Grade</b> </th>
            <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.candidate.gradeShortDescription}}</td>
        </ng-container>

        <!-- In ProjectPositionCriteria Name Column -->
        <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef> <b>ProjectPositionCriteria</b> </th>
            <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.candidate.currentProjectDescription}}</td>
        </ng-container>

        <!-- In ProjectPositionCriteria Since Column -->
        <ng-container matColumnDef="projectSince">
            <th mat-header-cell *matHeaderCellDef> <b>ProjectPositionCriteria Since</b> </th>
            <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.candidate.currentProjectDuration}}</td>
        </ng-container>

        <!-- MatchingScore Column -->
        <ng-container matColumnDef="matchingScore">
            <th mat-header-cell *matHeaderCellDef> <b>Score</b></th>
            <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> <b> {{element.ranking | percent:'1.1-1'}} </b> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="projectPositionCriteria.max" [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!--<div class="photo__container">-->
<!--    <app-user-details [match]="selectedMatch"></app-user-details>-->
<!--</div>-->

