<div class="container">
    <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never" color="warn">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.candidate.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="picture">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Picture</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img src="{{element.candidate.picture}}" alt="{{element.name}}" width="50px" height="62px">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveryUnit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Unit</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.candidate.deliveryUnit.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="candidateRole">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.candidate.candidateRole.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="grade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.candidate.gradeShortDescription}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="projectName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.candidate.currentProjectDescription}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="projectSince">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>In Project Since</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.candidate.currentProjectDuration}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button color="warn" matTooltip="Delete" (click)="delete(row)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
           Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
                    </mat-footer-cell>
                </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource!=null && dataSource.length==0)}"></mat-footer-row>
        </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
