/*.skills-form {
    border: 1px solid gray;
}*/

/*.skills__container {
    width: 80%;
    margin: auto;
}*/

.skills_selector {
    display: inline-block;
}

/*.skills__score {
    padding-left: 50px;
    display: inline-block;
}*/

/*.skills__add {
    padding-left: 30px;
    display: inline-block;
}*/

/*.selected-skills__container {
    padding-top: 30px;
    width: 80%;
    display: inline-block;
}*/

.criteria-card {
  max-width: 70%;
  margin: auto;
  margin-top: 20px !important;
}

/*.skills__selected {*/
/*    width: 100%;*/
/*}*/
