<div class="container skills__form">
    <div class="container">
        <div class="skills__selector">
            <mat-label>Skills</mat-label>
            <mat-form-field class="skills_select" color="warn">
                <mat-select [(value)]="selectedSkill">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let skill of skillList" [value]="skill"
                                [ngClass]="{sub_category:skill.category === 2 || skill.category === 3 }">
                        {{skill.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="skills__score">
            <mat-label>Score</mat-label>
            <mat-slider color="warn" class="expected-core" min="0" max="1" thumbLabel step="0.1" tickInterval="0.1"
                        name="expectedScore" [(ngModel)]="expectedScore">
            </mat-slider>
            <div class="skills__add">
                <button mat-mini-fab color="primary" (click)="add(selectedSkill)">
                    <mat-icon>post_add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="matches-container">
        <div class="selected-skills__container">
            <ul class="list-group skills__selected">
                <li class="list-group-item" *ngFor="let skill of projectPositionCriteria.skillsFilter;">
                    <span class="badge">{{skill.name}}</span> --- <span class="badge">{{skill.weight * 100 | number}}
                    %</span>
                    <button mat-icon-button aria-label="delete" (click)="delete(skill)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="role">
            <mat-label>Roles</mat-label>
            <mat-form-field class="role_select" color="warn">
                <mat-select [(ngModel)]="projectPositionCriteria.roleIdFilter">
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let role of candidateRoles | async">
                        <mat-option value="{{role.id}}">{{role.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="max_quantity">
            <mat-label>Quantity</mat-label>
            <mat-form-field class="max_input">
                <input [(ngModel)]="projectPositionCriteria.max" matInput type="number" min="1">
            </mat-form-field>
        </div>
    </div>
    <div class="container">
        <div class="delivery-unit">
            <mat-label>Delivery Unit</mat-label>
            <mat-form-field class="du_select" color="warn">
                <mat-select [(ngModel)]="projectPositionCriteria.deliveryUnitIdFilter">
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let deliveryUnit of deliveryUnits | async">
                        <mat-option value="{{deliveryUnit.id}}">{{deliveryUnit.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="bench">
            <mat-checkbox [(ngModel)]="projectPositionCriteria.inBenchFilter" color="warn">Only bench</mat-checkbox>
        </div>
    </div>
</div>
<div class="matches">
    <app-matches [projectPositionCriteria]="projectPositionCriteria" [display]="display"></app-matches>
</div>