<!-- <form class="skills-form"> -->
<div class="container">
  <div class="skills__selector">
    <mat-form-field>
      <mat-label>Select skills:</mat-label>
      <mat-select [(value)]="selectedSkill">
        <mat-option *ngFor="let skill of skillList" [value]="skill">
          {{skill.show}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="skills__score">
    <mat-slider color="primary" class="expected-core" min="0" max="1" thumbLabel step="0.1" tickInterval="0.1" name="expectedScore"
      [(ngModel)]="expectedScore"></mat-slider>
  </div>

  <div class="skills__add">
    <button mat-mini-fab color="primary" (click)="add(selectedSkill)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<!-- </form> -->

<div class="matches-container">

  <div class="selected-skills__container">
    <ul class="list-group skills__selected">
      <li class="list-group-item" *ngFor="let skill of project.skills">
        <span class="badge">{{skill.tag}}</span> --- <span class="badge">{{skill.weight * 100 | number}} %</span>
        <button mat-icon-button aria-label="delete" (click)="delete(skill)" color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
  <app-matches [project]="project" [display]="display" [showContent]="showContent"></app-matches>
</div>
