.button-row {
    margin-bottom: 40px;
}

.form-container{
    padding: 5%;
    max-width: 500px;
}

.input-field {
    width: 100%;
    padding: 10px 20px;
}

.input-field button {
    margin-left: 20px;
}

mat-table {
    width: 300px;
}