.skills-form {
    border: 1px solid gray;
}

.skills__container {
    width: 80%;
    margin: auto;
}

.skills__selector {
    display: inline-block;
}

.skills__score {
    padding-left: 50px;
    display: inline-block;
}

.skills__add {
    padding-left: 30px;
    display: inline-block;
}

.selected-skills__container {
    padding-top: 30px;
    width: 100%;
}

/*.skills__selected {*/
/*    width: 100%;*/
/*}*/
