*.user
*.xproj.user
*.lock.json
*.testsettings
*consoleapp
*documentation.xml
*.Common.xml
*.Web.xml
.vs/
.vscode/
artifacts/
app_data/
bin/
logs/
obj/
packages/
slowcheetah/
.idea/
deploy.nomad
mold.log
/TestResults
/Rosetta.Api/Rosetta.Api.xml
