<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h2 class="brand">Matching Learning</h2>
        <span class="menu-spacer"></span>
        <div>
            <!--<a mat-button [routerLink]="'/accounts'"> Accounts </a>
            <a mat-button [routerLink]="'/create-account'"> Create Account </a>
            <a mat-button [routerLink]="'/contacts'"> Contacts </a>
            <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
            <a mat-button [routerLink]="'/activities'"> Activities </a>
            <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>-->
        </div>
        <div class="logo-container"><img class="logo" src="../../../assets/logo.png" alt=""></div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <div class="sub-menu">
                <a mat-subheader>
                    <mat-icon>people</mat-icon>
                    People
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item [routerLink]="'/'">
                    <mat-icon>domain</mat-icon>
                    DU
                    <mat-divider></mat-divider>
                </a>
                <a mat-list-item [routerLink]="'/candidates'">
                    <mat-icon>supervisor_account</mat-icon>
                    Team
                    <mat-divider></mat-divider>
                </a>
                <a mat-list-item [routerLink]="'/'">
                    <mat-icon>assessment</mat-icon>
                    Evaluation
                    <mat-divider></mat-divider>
                </a>
                <a mat-list-item [routerLink]="'/skills'">
                    <mat-icon>school</mat-icon>
                    Skills
                </a>
            </div>
            <mat-divider></mat-divider>


            <a mat-list-item [routerLink]="'/build'">
                <mat-icon>search</mat-icon>
                Build team
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="'/create-account'">
                <mat-icon>contacts</mat-icon>
                Contacts
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
                <mat-icon>exit_to_app</mat-icon>
                Close
            </a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
