<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h3>Matching Learning</h3>
    <span class="menu-spacer"></span>
    <div>
      <!--<a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>-->

    </div>
  </mat-toolbar-row>

  <!--<mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>-->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <a mat-menu-item [matMenuTriggerFor]="people">
      <mat-icon>perm_identity</mat-icon>
      People
    </a>

    <mat-menu #people="matMenu">
      <button mat-menu-item [routerLink]="'/du'">
        <mat-icon>domain</mat-icon>
        DU
      </button>
      <button mat-menu-item [routerLink]="'/candidates'">
        <mat-icon>supervisor_account</mat-icon>
        Team
      </button>
      <button mat-menu-item>
        <mat-icon>assessment</mat-icon>
        Evaluation
      </button>
      <button mat-menu-item [routerLink]="'/skills'">
        <mat-icon>school</mat-icon>
        Skills
      </button>
    </mat-menu>

    <mat-nav-list>

      <a mat-list-item [routerLink]="'/build'">
        <mat-icon>search</mat-icon>
        Build team
      </a>
      <a mat-list-item [routerLink]="'/create-account'">
        <mat-icon>contacts</mat-icon>
        Contacts
      </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
        <mat-icon>close</mat-icon>
        Close
      </a>

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
