/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body
{
  margin: 0;
}

div.container
{
  margin: 0px 40px;
}

.fill-remaining-space
{
  flex: 1 1 auto;
}

.normal-form
{
  margin: 10px;
}

.controls-container
{
  width: 100%;
  padding: 5%;
}

.controls-container > *,.full-width {
  width: 100%;
}

/* radio group */
.add-bottom-padding{
  padding-bottom: 10px;
}

/* add gap b/w adjacent button */
.button-row button{
  margin: 5px;
}
mat-radio-group mat-radio-button{
  margin-left: 5px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

snack-bar-container.success
{
  background-color: green;
  color: white;
}

snack-bar-container.notification simple-snack-bar
{
  font-size: 15px !important;
  font-weight: bold;
}

.mat-slider-horizontal {
  width: 200px;
}

.expected-core {
  margin-top: 30px;
}

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
  background-color: #3f51b5;
}




